config.v1.yml
config.v1.yml.bak
LatestLaunch.bat
Log1.txt
Log2.txt
Log3.txt
Log4.txt
Log5.txt
Setup.ini
teach.xaml
Log/Launch-2025-10-12-000234412.log
gray.json
Plain Craft Launcher 2.exe
authlib-injector.jar
JavaWrapper.jar
libjlw-x86_64-1.4.4.dll
libwebp.dll
